<%= link_to root_path do %>
  <i class="bi bi-arrow-left h3"></i>
<% end %>
<div class="text-center">
  <h1><%= @project.title %></h1>
  <small>
    Created: <%= time_ago_in_words(@project.created_at) + ' ago'%>
  </small>
</div>
<main class="container">
  <div class="header">
    <div class="d-flex justify-content-between align-items-center border p-5 mt-4">
      <h1>Add Todo</h1>
      <%= link_to new_project_todo_path(@project), class: "btn display-1 btn-block", data: { turbo_frame: dom_id(Todo.new )} do %>
        <i class="bi bi-plus-square-fill" style="font-size: 2em;"></i>
      <% end %>
    </div>
    <hr>
    <%= turbo_frame_tag Todo.new %>
    <%= turbo_frame_tag "todos" do %>
      <%= render @todos, project: @project %>
    <% end %>
    <%# --------------------------------------------------------------%>
    <% total_todos = @todos.count %>
    <% completed_count = @todos.count { |x| x.completed? } %>
    <% completed_count %>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: <%= (completed_count.to_f / total_todos.to_f ) * 100 %>%"></div>
    </div>
    <%# --------------------------------------------------------------%>
  </div>
</main>
